<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Greenhouse Gas Emission</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div class="container">

      <!-- Header -->
      <header class="header">
        <h1 style="color:rgb(11, 134, 119);text-align:center;">Greenhouse Emission in NSW </h1>
        
        <div class="header-center">
          <h1 style="color:rgb(134, 54, 11);text-align:center;">GROUP 4</h1>
        </div> 
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">YEAR</p>
              <span class="material-icons-outlined text-blue"><span class="material-icons">
                calendar_month
                </span></span>
            </div>
            <!-- KKC modified - added onChange() and id attributes -->
            <select onChange="newYear()" id="Years">
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
            </select>
            <!-- <span class="text-primary font-weight-bold">249</span> -->
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">Local Government Area(LGA)</p>
              <span class="material-icons-outlined text-orange"><span class="material-icons">
                location_city
                </span></span>
            </div>
            <!-- KKC modified - added onChange() and id attributes -->
            <select onChange="newLGA()" id="LGAs">
              <option>Brisbane</option>
              <option>Melbourne</option>
              <option>Ballian</option>
            </select>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">Co2 EMISSION SECTOR</p>
              <span class="material-icons-outlined text-green"><span class="material-icons">
                co2
                </span></span>
            </div>
            <!-- KKC modified - added onChange and id attributes -->
            <select onChange="newSector()" id="Sectors">
              <option>Agriculture</option>
              <option>Transport</option>
              <option>Waste</option>
              <option>Electricity consumption</option>
              <option>LULUP</option>

            </select>
          </div>

        </div>

        <div class="charts">

         
 <!-- KKC add -->
          
          <div class="charts-card">
            <p class="chart-title" id="title1">Emissions by Year and LGA </p>
            <div id="new-chart1" style="height: 500px; width: 100%;"></div>
          </div>
           
          <div class="charts-card">
            <p class="chart-title" id="title3">Emissions by Year and LGA </p>
              <div id="new-chart3" style="height: 500px; width: 100%;"></div>
            </div>
          </div>
           
          <div class="charts-card">
            <p class="chart-title" id="title2">Emissions by Year and LGA </p>
            <div id="new-chart2" style="height: 1000px; width: 100%;"></div>
          </div>


            <!-- KKC add-end -->


        </div>
        <!-- <div class="charts">

          <div class="charts-card">
            
          </div>

          <div class="charts-card">
            
          </div>

        </div> -->
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    
    <!-- KKC Added-->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!--KKC Added Ended-->

    <!-- Custom JS -->
    <script src="{{url_for('static',filename='KKCscript.js')}}"></script>
  </body>
</html>
