<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Greenhouse Gas Emission</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <!--KKC Added-->
    <script>
      var KK_Data = {{ kk_data }};
    </script>
  <!--KKC Added Ended-->
  </head>
  <body>
    <div class="container">

      <!-- Header -->
      <header class="header">
        <h1 style="color:rgb(11, 134, 119);text-align:center;">Greenhouse Emission in NSW </h1>
        
        <div class="header-center">
          <h1 style="color:rgb(134, 54, 11);text-align:center;">GROUP 4</h1>
        </div> 
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">YEAR</p>
              <span class="material-icons-outlined text-blue"><span class="material-icons">
                calendar_month
                </span></span>
            </div>
            <!--- Begin Modified by KKC -->
            <select onChange="newYear()" id="selectedYear">
                {% for year in yearOptions %}
                {% if year == selected_year %}
                    <option selected>{{ year }}</option>
                {% else %}
                    <option>{{ year }}</option>
                {% endif %}
                {% endfor %}
              <!--- End of Modified by KKC -->

            </select>
            <!-- <span class="text-primary font-weight-bold">249</span> -->
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">LGA</p>
              <span class="material-icons-outlined text-orange"><span class="material-icons">
                location_city
                </span></span>
            </div>
            <!--- Begin Modified by KKC -->
            <select onChange="newLGA()" id="selectedLGA">
                {% for LGA in LGAoptions %}
                {% if LGA == selected_LGA %}
                    <option selected>{{ LGA }}</option>
                {% else %}
                    <option>{{ LGA }}</option>
                {% endif %}
                {% endfor %}
              <!--- End of Modified by KKC -->

            </select>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">EMISSION SOURCE</p>
              <span class="material-icons-outlined text-green"><span class="material-icons">
                co2
                </span></span>
            </div>
            <!--- Begin Modified by KKC -->
            <select onChange="newEmission()" id="selectedEmission">
                {% for emission in emissionOptions %}
                {% if emission == selected_emission %}
                    <option selected>{{ emission }}</option>
                {% else %}
                    <option>{{ emission }}</option>
                {% endif %}
                {% endfor %}
              <!--- End of Modified by KKC -->

            </select>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="font-weight-bold">EMISSION SUB-CATEGORY </p>
              <span class="material-icons-outlined text-red"><span class="material-icons">
                category
                </span></span>
            </div>
            <!--- Begin Modified by KKC -->
            <select onChange="newEmissionSubCat()" id="selectedEmissionSubCat">
                {% for emissionSubCat in emissionSubCatOptions %}
                {% if emissionSubCat == selected_emission_subcat %}
                    <option selected>{{ emissionSubCat }}</option>
                {% else %}
                    <option>{{ emissionSubCat }}</option>
                {% endif %}
                {% endfor %}
              <!--- End of Modified by KKC -->

            </select>
          </div>

        </div>

        <div class="charts">

          <div class="charts-card">
            <p class="chart-title">All Emission Source Vs LGA</p>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Emission Range Over 2016 </p>
            <div id="area-chart"></div>
          </div>

          <!--- Added by KKC -->
          
          <div class="charts-card">
            <p class="chart-title">New Graph KKC </p>
            <div id="KK_Chart"></div>
          </div>
          
          <!-- End of added by KKC -->

        </div>
        <!-- <div class="charts">

          <div class="charts-card">
            
          </div>

          <div class="charts-card">
            
          </div>

        </div> -->
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>

    <!-- Custom JS -->
    <script src="{{url_for('static',filename='script.js')}}"></script>
  </body>
</html>
